# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* Python
* R Proggramming 
* SQl

Some of the popular languages that Data Scientists use are:
1. Python
2. R Proggramming
3. SQl

Some of the commonly used libraries used by Data Scientists include:
1. SciPy
2. NumPy
3. Pandas

|Data Science Tools|
|-------------------|
|RStudio|
|Jupyter Labs|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5

17

 This a simple arithmetic expression to mutiply then add integers

In [6]:
(200/60)

3.3333333333333335

This will convert 200 minutes to hours by diving by 60

## Author 
Dion